<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header>
            <h3>Hello World</h3>
        </header>
        <section class="content dflex">
            <div class="sidebar__left">
                <ul>
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>
            <div class="content__middle">
                <div class="content__listModule dflex">
                    <div class="content__item">
                        <div class="item__img">
                            <img src="assets/image/25861244-0-image-a-68_1583969182776-640-1583980433-917-width640height480.jpg" alt="error-img">
                        </div>
                        <div class="item__title__lv1" data-toggle="tooltip" data-placement="top" title="Ngoại hạng Anh chờ phán quyết vì đại dịch Covid-19: Đá tiếp hay hoãn?">Ngoại hạng Anh chờ phán quyết vì đại dịch Covid-19: Đá tiếp hay hoãn?</div>
                        <div class="item__title__lv2">The GodFootball</div>
                        <ul class="item__meta dflex">
                            <li>173K views</li>
                            <li>14 hours ago</li>
                        </ul>
                    </div>
                    <div class="content__item">
                        <div class="item__img">
                            <img src="assets/image/lionel-messi-640-1583459778-414-width640height480.jpg" alt="error-img">
                        </div>
                        <div class="item__title__lv1" data-toggle="tooltip" data-placement="top" title="SAO Juventus dính Covid-19: Ronaldo nguy cơ lây nhiễm, có về lại Italia?">SAO Juventus dính Covid-19: Ronaldo nguy cơ lây nhiễm, có về lại Italia?</div>
                        <div class="item__title__lv2">The GodFootball</div>
                        <ul class="item__meta dflex">
                            <li>173K views</li>
                            <li>14 hours ago</li>
                        </ul>
                    </div>
                    <div class="content__item">
                        <div class="item__img">
                            <img src="assets/image/1583446770-817-thumbnail.jpg" alt="error-img">
                        </div>
                        <div class="item__title__lv1" data-toggle="tooltip" data-placement="top" title="Messi thể hiện quyền uy: Đòi lật ghế HLV trưởng Barca, tiến cử người.">Messi thể hiện quyền uy: Đòi lật ghế HLV trưởng Barca, tiến cử người.</div>
                        <div class="item__title__lv2">The GodFootball</div>
                        <ul class="item__meta dflex">
                            <li>173K views</li>
                            <li>14 hours ago</li>
                        </ul>
                    </div>
                    <div class="content__item">
                        <div class="item__img">
                            <img src="assets/image/640z480-ok-1583340993-731-width640height480.jpg" alt="error-img">
                        </div>
                        <div class="item__title__lv1">Tottenham thua trận, học trò Mourinho lên khán đài đánh CĐV</div>
                        <div class="item__title__lv2">The GodFootball</div>
                        <ul class="item__meta dflex">
                            <li>173K views</li>
                            <li>14 hours ago</li>
                        </ul>
                    </div>
                    <div class="content__item">
                        <div class="item__img">
                            <img src="assets/image/1580358512-530-thumbnail.jpg" alt="error-img">
                        </div>
                        <div class="item__title__lv1">Tottenham thua trận, học trò Mourinho lên khán đài đánh CĐV</div>
                        <div class="item__title__lv2">The GodFootball</div>
                        <ul class="item__meta dflex">
                            <li>173K views</li>
                            <li>14 hours ago</li>
                        </ul>
                    </div>
                    <div class="content__item">
                        <div class="item__img">
                            <img src="assets/image/v3-1583939642-349-width640height480.jpg" alt="error-img">
                        </div>
                        <div class="item__title__lv1" data-toggle="tooltip" data-placement="top" title="Premier League có thể kết thúc sớm, bóng đá châu Âu điên đảo vì Covid-19">Premier League có thể kết thúc sớm, bóng đá châu Âu điên đảo vì Covid-19</div>
                        <div class="item__title__lv2 ">The GodFootball</div>
                        <ul class="item__meta dflex ">
                            <li>173K views</li>
                            <li>14 hours ago</li>
                        </ul>
                    </div>
                    <div class="content__item ">
                        <div class="item__img ">
                            <img src="assets/image/640x480-1583968120-632-width640height480.jpg " alt="error-img ">
                        </div>
                        <div class="item__title__lv1 " data-toggle="tooltip " data-placement="top " title="Rực lửa đại chiến Cúp C1 Liverpool - Atletico: Người hùng Llorente & tội">Rực lửa đại chiến Cúp C1 Liverpool - Atletico: Người hùng Llorente & tội</div>
                        <div class="item__title__lv2 ">The GodFootball</div>
                        <ul class="item__meta dflex ">
                            <li>173K views</li>
                            <li>14 hours ago</li>
                        </ul>
                    </div>
                    <div class="content__item ">
                        <div class="item__img ">
                            <img src="assets/image/1583955986_053053_1583956053_noticia_normal_recorte1-640-1583981885-310-width640height480.jpg" alt="error-img ">
                        </div>
                        <div class="item__title__lv1 " data-toggle="tooltip " data-placement="top " title="Tin HOT bóng đá trưa 12/3: UEFA định dời Euro sang 2021">Tin HOT bóng đá trưa 12/3: UEFA định dời Euro sang 2021</div>
                        <div class="item__title__lv2 ">The GodFootball</div>
                        <ul class="item__meta dflex ">
                            <li>173K views</li>
                            <li>14 hours ago</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sidebar__right ">
                <h4>About</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </section>
        <footer>
            <p>@ copyright w3school.com</p>
        </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
</body>

</html>