@media screen and (max-width: 620px) {
    .wrapper {
        .content {
            flex-wrap: wrap;
            .sidebar__left,
            .content__middle,
            .sidebar__right {
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1052px) and (min-width: 769px) {
    .wrapper {
        .content {
            .content__middle {
                .content__listModule {
                    .content__item {
                        flex-basis: 49%;
                        max-width: 49%;
                        .item__title__lv2 {
                            font-size: 12px;
                        }
                        .item__meta li {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        .content {
            .content__middle {
                .content__listModule {
                    .content__item {
                        flex-basis: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 414px) {
    .wrapper {
        .content {
            .content__middle {
                .content__listModule {
                    .content__item {
                        flex-basis: 100%;
                        max-width: 100%;
                        margin-top: 20px;
                        .item__title__lv1 {
                            white-space: normal;
                        }
                        .item__title__lv2 {
                            display: inline-block;
                        }
                        .item__meta {
                            display: inline-block;
                            float: right;
                            margin-top: 10px;
                            li {
                                display: inline-block;
                            }
                        }
                        // .item__meta li {
                        //     font-size: 10px;
                        // }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1079px) and (min-width: 1053px) {
    .wrapper {
        .content {
            .content__middle {
                .content__listModule {
                    .content__item {
                        flex-basis: 33%;
                        max-width: 33%;
                    }
                }
            }
        }
    }
}